@tailwind base;
@tailwind components;
@tailwind utilities;

.dm-sans-thin {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0 0 13px #ffffff;
}